<footer class="footer">
  <span class="todo-count"><strong>{{tareasPendientes}}</strong> Tareas pendientes</span>
  <ul class="filters">
    <li>
      <!-- class="selected" -->
      <a [ngClass]="{selected: filtroActivado==='todas'}" (click)="establecerFiltro('todas')">Todas</a>
    </li>
    <li>
      <a [ngClass]="{selected: filtroActivado==='pendientes'}" (click)="establecerFiltro('pendientes')">Activas</a>
    </li>
    <li>
      <a [ngClass]="{selected: filtroActivado==='completadas'}" (click)="establecerFiltro('completadas')">Completadas</a>
    </li>
  </ul>
  <button class="clear-completed">Limpiar Completadas</button>
</footer>
